{% extends "layout.html" %}

{% block content %}

<a class="btn btn-link" href="{{url_for('index')}}"><span class="glyphicon glyphicon-arrow-left offset-right"></span> Back</a>
<hr />
<div>

    <h4>What is it ?</h4>
    <p>The Clf-Service is multi-label soft classification system for web pages.<br />The system was implemented by Andrey Rukavtsyn who is a master's student at Saint Petersburg Electrotechnical University (LETI).</p>
    <p>The project is founded within the scope of the state project ”Organization of scientific research” of the main part of the state plan of the Board of Education of Russia as well as project part of the state plan of the Board of Education of Russia (task # 2.136.2014/K),
Principal Investigator - Andrey Shorov.</p>
    <h4>Now we have {{ categories|length }} categories:</h4>
    <ul>
        {% for category in categories %}
        <li>{{ category }}</li>
        {% endfor %}
    </ul>

    <!--<h4>How it works ?</h4>
    <p><a href="{{url_for('index')}}">soon</a></p>-->


    <h4>The following program libraries were used for classification system implementation:</h4>
    {{libraries}}


</div>

{% endblock %}s
