{% extends "layout.html" %}

{% block content %}


<a class="btn btn-link" href="{{url_for('index')}}"><span class="glyphicon glyphicon-arrow-left offset-right"></span> Back</a>
<a class="btn btn-link" target="_blank" href="{{title}}"><span class="glyphicon glyphicon-link offset-right"></span> Visit: {{title[:100]}}</a>
<hr />
<div class="">
    <h5>Probably it's "{{page.labels[0][0]}}"</h5>

    <div class="row">
        <div class="col-md-6">

            <div class="chart">
                {% for label in page.labels %}
                <div class="progress">

                    <div class="progress-bar series"
                         role="progressbar"
                         aria-valuenow="{{ label[1] }}"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="min-width: 2em; width: {{ label[1] }}%;">
                        <span>{{ label[0] }}&nbsp;({{ label[1] }}%)</span>
                    </div>

                </div>
                {% endfor %}
            </div>


        </div>
        <div class="col-md-6">
            {% if form %}
            <div class="clearfix" id="feedback">
                <form action="" method="post">
                    {{form.hidden_tag()}}
                    {{form.page}}
                    <div class="form-group">
                        <div class="input-group" style="font-size: 1.2em;">
                            <span class="glyphicon glyphicon-comment offset-right"></span>
                            Please choose the correct category of web page:
                        </div>
                        <div class="input-group">
                            <label class="input-group-addon" id="category_"><span class="glyphicon glyphicon-chevron-right"></span></label>
                            {{form.category(class_="form-control", id="category", aria_describedby="category_")}}
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit category" class="btn btn-primary pull-right" />
                    </div>
                </form>
            </div>
            {% else %}
            <h4 class="text-center">Thank you for your contribution!</h4>
            {% endif %}
            <div id="chart"></div>
        </div>
    </div>

</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

    google.load('visualization', '1.0', { 'packages' : ['corechart'] });

    google.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Category');
        data.addColumn('number', 'Confidence, %');
        data.addColumn({type: 'string', role: 'tooltip'});
        data.addRows([{% for label in page.labels %}['{{label[0]}}',{{label[1]}}, '{{label[0]}} ({{label[1]}}%)'],{% endfor %}]);

        var options = {
            width: "100%",
            height: 300,
            pieSliceText: 'label',
            sliceVisibilityThreshold:0
        };
        var chart = new google.visualization.PieChart(document.getElementById('chart'));
        chart.draw(data, options);

    }
</script>
{% endblock %}