﻿{% extends "layout.html" %}

{% block content %}


<div class="jumbotron">
    <h2>Web page classification</h2>

    <br />

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}


    {% if form %}
    <form action="" method="post" class="control-group{% if form.errors.url %} has-error{% endif %}">


        {% if form.errors.url %}
        <div class="form-group">
            {% for error in form.errors.url %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {{form.hidden_tag()}}

        <div class="form-group">
            <div class="input-group">
                <label class="input-group-addon" for="url" id="address"><span class="glyphicon glyphicon-link"></span></label>
                {{form.url(class="form-control", placeholder="yandex.ru",  aria_describedby="address")}}
            </div>
        </div>

        <br />

        <div class="form-group">
            <input type="submit" value="Get categories" class="btn btn-primary" />
        </div>

<div style="display:none;">

        <div class="form-group dropdown">
            <a class="dropdown-toggle btn btn-link" href="#" aria-haspopup="true" data-toggle="dropdown">Proxy<strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                <div class="form-group">
                    {{form.proxy_type(class="form-control", placeholder="http", value="http")}}
                </div>
                <div class="form-group">
                    {{form.proxy_ip(class="form-control", placeholder="212.27.32.10:80", value="10.128.0.100:8080")}}
                </div>
            </div>
        </div>
</div>
    </form>
    {% endif %}

    {% if pages %}
    <h5>Last results:</h5>
    <ul class="" id="history">
        {% for p in pages %}
        <li class="">
            <a href="{{p.url}}">{{p.url}}</a>: <strong>{{p.labels[0][0]}} {{p.labels[0][1]}}%</strong> ({{ p.added.strftime("%d-%m-%y %H:%M:%S") }})
            <a href="{{ url_for('categories', id=p.id) }}">view</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

</div>

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('.dropdown-toggle').dropdown();
        $('.dropdown-menu').click(function (e) {
            e.stopPropagation();
        });
    });
</script>
{% endblock %}
