﻿html, body {
    min-height: 100%;
    position: relative;
}

.footer {
    padding: 10px;
}

.input-group-addon {
    background-color: #eee !important;
}
#url, #category {
    background-color: #fff;
    padding-left: 10px;
}

#history .list-group-item {
    padding: 10px 15px;
}

.progress {
    height: 23px;
    border-bottom: 3px solid #3399ee;
}
.progress-bar:last-child {
    border-radius: 0;
    padding-left: 10px;
    color: #fff;
    background: #0d87e9;
}
.progress-bar:last-child:hover {
    background: #3399ee;
}
.progress-bar:last-child:before {
    background-color: #666666
}
.chart {
    width: 500px;
}

body > .container {
  padding: 10px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.offset-right {
    padding-right: 10px;
}



.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
input[type="checkbox"].input-validation-error {
    border: 0 none;
}

/** { border: 1px solid #000 !important; }*/